*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #2196F3;
    --secondary-color: #1787E0;
    --section-background: #ececec;
    --custom-transition: 0.3s;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --nav-link-color: black;
    --color-white: white;
    --nav-link-background-hover: #f2f4ff;
    --border-color-list: #e4e4e4;
    --feature-quality: #f44036;
    --feature-time: #009688;
    --feature-passion: #03a9f4;
    --secondary-text-color: #777;
    --services-icon-color: #d5d5d5;
    --footer-background: #191919;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}


/* 
****************************************************
==========                          ==========
                global classes
==========                          ==========
****************************************************
*/

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.section-padding {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.main-title {
    position: relative;
    font-size: 20px;
    font-weight: 800;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    border: 2px solid black;
    text-transform: uppercase;
    z-index: 1;
}


@media (min-width: 475px) {
    .main-title {
        font-size: 32px;
    }
}

.main-title:hover {
    color: var(--color-white);
    transition: all var(--custom-transition) linear 0.3s;
    border: 2px solid var(--color-white);
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: -1;
}

.main-title::before {
    left: -30px;
    width: 15px;
    height: 15px;
}

.main-title:hover::before {
    animation: move-left 0.5s linear forwards;
}

.main-title::after {
    right: -30px;
    width: 15px;
    height: 15px;
}

.main-title:hover::after {
    animation: move-right 0.5s linear forwards;
}

@keyframes move-right {
    50% {
        height: 15px;
        width: 15px;
        right: 0;
    }

    100% {
        right: 0;
        width: calc(50% + 1px);
        height: 100%;
        border-radius: 0;
    }
}

@keyframes move-left {
    50% {
        height: 15px;
        width: 15px;
        left: 0;
    }

    100% {
        left: 0;
        width: calc(50% + 1px);
        height: 100%;
        border-radius: 0;
    }
}



/* 
****************************************************
==========                          ==========
                header section
==========                          ==========
****************************************************
*/

.header {
    background-color: var(--color-white);
}

.header .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .header .row {
        justify-content: space-between;
    }
}

.header .row .logo-holder {
    text-align: center;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .header .row .logo-holder {
        flex: 1;
        width: initial;
        height: 70px;
        justify-content: flex-start;
    }
}

.header .row .logo-holder .logo {
    color: var(--main-color);
    text-decoration: none;
    font-size: 28px;
    font-weight: 800;
}

.header .navbar-nav {
    display: flex;
}

.header .navbar-nav .nav-link {
    position: relative;
    overflow: hidden;
}

.header .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--custom-transition);
    z-index: 1;
}

.header .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--nav-link-background-hover);
    transition: var(--custom-transition);
    z-index: -1;
}

.header .navbar-nav .nav-link:hover::before,
.header .navbar-nav .nav-link:hover::after {
    left: 0;
}

.header .navbar-nav .nav-link.menu-trigger::after,
.header .navbar-nav .nav-link.menu-trigger::before {
    left: 0;
}

.header .navbar-nav .nav-item .nav-link.menu-trigger {
    color: var(--main-color);
}

.header .navbar-nav .nav-item:hover .nav-link {
    color: var(--main-color);
}

.header .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    padding: 15px;
    color: var(--nav-link-color);
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

@media (min-width: 475px) {
    .header .navbar-nav .nav-item .nav-link {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .header .navbar-nav .nav-item .nav-link {
        padding: 0px 30px;
        font-size: 18px;
        height: 70px;
    }
}

/* 
****************************************************
==========                          ==========
                mega menu section
==========                          ==========
****************************************************
*/

.mega-menu {
    position: absolute;
    top: 150px;
    opacity: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: var(--color-white);
    border: 1px solid antiquewhite;
    border-bottom: 4px solid var(--main-color);
    flex-wrap: wrap;
    flex-direction: column;
    transition: all 0.3s linear var(--custom-transition);
    display: none;
    z-index: 999;
}

.mega-menu.show-menu {
    top: 90px;
    opacity: 1;
    display: flex;
}

@media (min-width: 768px) {
    .mega-menu {
        gap: 40px;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: none;
    }

    .mega-menu.show-menu {
        top: 72px;
        opacity: 1;
        display: flex;
    }
}

.mega-menu .mega-list {
    flex: 1;
    min-width: 250px;
}

.mega-menu .mega-list .mega-item {
    position: relative;
    overflow: hidden;
}

.mega-menu .mega-list .mega-item::before {
    content: "";
    position: absolute;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: var(--nav-link-background-hover);
    transition: var(--custom-transition);
}

.mega-menu .mega-list .mega-item:hover::before {
    left: 0;
}

.mega-menu .mega-list li {
    border-bottom: 1px solid var(--border-color-list);
}

.mega-menu .mega-list:last-of-type>li:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {
    .mega-menu .mega-list li:last-child {
        border-bottom: none
    }
}

.mega-menu .mega-list>.mega-item>.mega-link {
    display: block;
    font-size: 18px;
    color: var(--main-color);
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 800;
    padding: 15px;
    position: relative;
}

.mega-menu .mega-list>.mega-item>.mega-link i {
    padding-right: 15px;
    font-size: 18px;
}

.mega-menu .mega-image {
    display: none;
    flex: 1;
}

@media (min-width: 992px) {
    .mega-menu .mega-image {
        display: block;
    }
}

.mega-menu .mega-image img {
    max-width: 100%;
}


/* 
****************************************************
==========                          ==========
                landing section
==========                          ==========
****************************************************
*/

.landing .container {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 89px);
}

@media (min-width: 768px) {
    .landing .container {
        height: calc(100vh - 70px);
    }
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--section-background);
    transform: skewY(-9deg);
    z-index: -1;
    transform-origin: top left;
}

.landing .go-down-link {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    animation: 0.3s infinite alternate up-down-icon;
}

@keyframes up-down-icon {
    from {
        bottom: 35px;
    }

    to {
        bottom: 39px;
    }
}

.landing .go-down-link>i {
    color: var(--main-color);
}


.landing .row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 72px;
    gap: 30px;
    height: 100%;
}

@media (min-width: 992px) {
    .landing .row {
        top: initial;
        left: initial;
        transform: none;
        padding-top: initial;
        top: -50%;
        left: -50%;
        transform: translate(50%, 50%);
    }
}

.landing .landing-content h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

.landing .landing-content p {
    font-size: 18px;
}

@media (min-width: 475px) {
    .landing .landing-content h1 {
        font-size: 34px;
    }

    .landing .landing-content p {
        font-size: 20px;
    }
}

@media (min-width: 575px) {
    .landing .landing-content h1 {
        font-size: 36px;
    }

    .landing .landing-content p {
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .landing .landing-content h1 {
        font-size: 40px;
    }

    .landing .landing-content p {
        font-size: 24px;
    }
}

.landing .row>div {
    flex: 1;
}

.landing .img-holder {
    display: none;
}

.landing .landing-image {
    max-width: 100%;
    width: 600px;
    position: relative;
    animation: 5s infinite linear up-down-landing;

}

@keyframes up-down-landing {
    0%, 100% {
        bottom: 0;
    }

    50% {
        bottom: 55px;
    }
}

@media (min-width: 992px) {
    .landing .img-holder {
        display: block;
    }
}

/* 
****************************************************
==========                          ==========
                articles section
==========                          ==========
****************************************************
*/

.articles .grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media (min-width: 1200px) {
    .articles .grid {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
}

.articles .article {
    border-radius: 6px;
    position: relative;
    transition: all var(--custom-transition) linear;
    overflow: hidden;
}

.articles .article:hover {
    transform: translateY(-6px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

}

.articles .article>img {
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.articles .article .article-content, .articles .article .article-footer {
    padding: 15px;
}

.articles .article .article-content h3 {
    margin-bottom: 15px;
}

.articles .article .article-footer {
    border-top: 1px solid var(--border-color-list);
    color: var(--main-color);
    display: flex;
}

.articles .article .article-footer a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
    margin-right: auto;
}

.articles .article .article-footer i {
    position: relative;
}

.articles .article:hover .article-footer i {
    animation: arrow-right 0.5s linear infinite;
}

@keyframes arrow-right {
    50% {
        left: 0;
    }

    75% {
        left: -6px;
    }

    100% {
        left: 0;
    }
}


/* 
****************************************************
==========                          ==========
                spikes section
==========                          ==========
****************************************************
*/


.spikes {
    position: relative;
    background: white;
    height: 35px;
}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 0;
    z-index: 10;
    display: block;
    height: 35px;
    background-size: 35px 100%;
    background-image: linear-gradient(135deg, #ececec 25%, transparent 25%), linear-gradient(225deg, #ececec 25%, transparent 25%);
    background-position: 0 0;
    transform: rotate(180deg);
}

/* 
****************************************************
==========                          ==========
                gallery section
==========                          ==========
****************************************************
*/

.gallery {
    background-color: var(--section-background);
    position: relative;
}

.gallery .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

@media (min-width:992px) {
    .gallery .grid {
        grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
}

.gallery .gallery-item {
    padding: 15px;
    background-color: white;
}

.gallery .gallery-item:hover .gallery-image-wrapper img {
    transform: scale(1.2) rotate(5deg);
}

.gallery .gallery-item .gallery-image-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.gallery .gallery-item .gallery-image-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 2;
}

.gallery .gallery-item:hover .gallery-image-wrapper::before {
    animation: image-flash 0.5s;
}

@keyframes image-flash {
    50% {
        width: 0;
        height: 0;
        opacity: 0;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

.gallery .gallery-item .gallery-image-wrapper img {
    width: 100%;
    max-width: 100%;
    transition: var(--custom-transition);
}


/* 
****************************************************
==========                          ==========
                feature section
==========                          ==========
****************************************************
*/

.features .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
}

@media(min-width: 768px) {
    .features .grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.features .feature .image-holder {
    position: relative;
    overflow: hidden;
}

.features .feature .image-holder::before,
.features .feature .image-holder::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.features .feature .image-holder::before {
    bottom: 0;
    right: 0;
}

.features .feature .image-holder::after {
    right: 0;
    bottom: -1px;
    width: 0;
    height: 0;
    border-width: 0 0 200px 455px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    transition: var(--custom-transition);
}

.features .feature:hover .image-holder::after {
    border-width: 200px 455px;
}

.features .feature.feature-time .image-holder::before {
    background-color: rgba(0, 150, 136, 60%);
}

.features .feature.feature-passion .image-holder::before {
    background-color: rgba(3, 169, 244, 60%);
}

.features .feature.feature-quality .image-holder::before {
    background-color: rgba(244, 64, 54, 60%);
}

.features .feature .image-holder img {
    max-width: 100%;
    width: 100%;
}

.feature-content {
    padding: 20px;
}

.feature-content h3 {
    font-size: 34px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    text-transform: capitalize;
}

.feature-content h3::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -17px;
}

.feature.feature-quality h3::after {
    background-color: var(--feature-quality);
}

.feature.feature-passion h3::after {
    background-color: var(--feature-passion);
}

.feature.feature-time h3::after {
    background-color: var(--feature-time);
}

.feature-content p {
    margin: 45px 0;
    text-align: center;
    line-height: 2;
}

.feature-content a {
    display: block;
    margin: 0 auto 15px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 30px;
    text-decoration: none;
    border: 4px solid transparent;
    border-radius: 8px;
    font-weight: 800;
    font-size: 22px;
    position: relative;
    overflow: hidden;
}

.feature-content a::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    content: "";
    transition: var(--custom-transition);
    z-index: -1;
}

.feature.feature-quality .feature-content a::before {
    background-color: var(--feature-quality);
}

.feature.feature-quality .feature-content a {
    color: var(--feature-quality);
    border-color: var(--feature-quality);
}

.feature.feature-passion .feature-content a::before {
    background-color: var(--feature-passion);
}

.feature.feature-passion .feature-content a {
    color: var(--feature-passion);
    border-color: var(--feature-passion);
}

.feature.feature-time .feature-content a::before {
    background-color: var(--feature-time);
}

.feature.feature-time .feature-content a {
    color: var(--feature-time);
    border-color: var(--feature-time);
}

.features .feature.feature-time:hover .feature-content a::before,
.features .feature.feature-passion:hover .feature-content a::before,
.features .feature.feature-quality:hover .feature-content a::before {
    left: 50%;
}

.features .feature.feature-time:hover .feature-content a,
.features .feature.feature-passion:hover .feature-content a,
.features .feature.feature-quality:hover .feature-content a {
    color: var(--color-white);
}

/* 
****************************************************
==========                          ==========
                testimonials section
==========                          ==========
****************************************************
*/

.testimonials {
    background-color: var(--section-background);
}

.testimonials .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
}

@media (min-width: 768px) {
    .testimonials .grid {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
    }
}

@media (min-width: 1200px) {
    .testimonials .grid {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}

.testimonials-item {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--color-white);
}

.testimonials-item .avatar-image {
    position: absolute;
    top: -55px;
    right: -5px;
    max-width: 100%;
    height: 100px;
    background: bisque;
    width: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
}

.testimonials-item .testimonials-job {
    margin: 10px 0;
    display: block;
    color: var(--secondary-text-color);
}

.testimonials-item .testimonials-rating {
    margin-bottom: 10px;
    color: gold;
}

.testimonials-item .testimonials-p {
    line-height: 1.6;
    color: var(--secondary-text-color);
}



/* 
****************************************************
==========                          ==========
                members section
==========                          ==========
****************************************************
*/

.members {
    /* position: relative; */
}

.members .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

@media (min-width: 992px) {
    .members .grid {
        grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
}

.member-holder {
    position: relative;
}

.member-holder::before,
.member-holder::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: calc(100% - 60px);
    height: 100%;
    background-color: var(--nav-link-background-hover);
    z-index: -1;
    transition: var(--custom-transition);
    border-radius: 10px;
}

.member-holder::after {
    width: 0;
}

.member-holder:hover::after {
    width: calc(100% - 60px);
    background-color: #bcbcbca3;
}

.member-holder .member-data {
    display: flex;
    align-items: center;
}

.members .member-holder:hover .member-data img {
    filter: grayscale(100%);
}

.member-holder .member-data img {
    max-width: 100%;
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--custom-transition);
}

.member-holder .member-data .member-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
}

.members .member-social a {
    display: inline-block;
    width: 60px;
    text-align: center;
    padding: 15px;
}

.members .member-social a:hover i {
    color: var(--main-color);
}

.members .member-social a>i {
    color: var(--secondary-text-color);
    font-size: 18px;
}

.members .member-info {
    padding-left: 80px;
}

.members .member-holder:hover .member-info h3 {
    color: var(--secondary-text-color);
}

.members .member-info h3 {
    color: var(--main-color);
    margin-top: 20px;
    transition: var(--custom-transition);
    font-size: 22px;
}

.members .member-info p {
    font-weight: normal;
    margin: 15px 0 30px;
    font-size: 16px;
}

/* 
****************************************************
==========                          ==========
                testimonials section
==========                          ==========
****************************************************
*/

.services {
    background-color: var(--section-background);
}

.services .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
}

@media(min-width: 992px) {
    .services .grid {
        grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
}

.services .service {
    position: relative;
    background-color: var(--color-white);
    transition: var(--custom-transition);
    counter-increment: increase-number;
}

.services .service:hover {
    transform: translateY(-5px);
}

.services .service::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--custom-transition);
}

.services .service:hover::before {
    width: 100%;
}

.services .service i {
    color: var(--services-icon-color);
    text-align: center;
    display: block;
    margin-top: 30px;
}

.services .service h3 {
    color: var(--main-color);
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin: 15px 0 40px 0;
}

.services .service-details-wrapper {
    position: relative;
    overflow: hidden;
    padding: 15px;

}

.services .service-details-wrapper::before {
    content: "0"counter(increase-number);
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    font-size: 32px;
    color: var(--color-white);
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    padding-right: 15px;
    z-index: 0;
}

.services .service-details-wrapper::after {
    content: "";
    width: 50px;
    position: absolute;
    left: 65px;
    top: 0;
    height: calc(100% + 2px);
    background-color: var(--services-icon-color);
    transform: skewX(-30deg);
}

.services .service .service-details-wrapper a {
    color: var(--main-color);
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    position: relative;
}

/* 
****************************************************
==========                          ==========
                skills section
==========                          ==========
****************************************************
*/

.skills .flex {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.skills .image-holder {
    display: none;
}

.skills .skill-content {
    flex: 0 0 100%;
}

@media (min-width: 992px) {
    .skills .image-holder {
        display: block;
    }

    .skills .image-holder, .skills .skill-content {
        flex: 0 0 45%;
    }
}

.skills .image-holder img {
    max-width: 100%;
    width: 100%;
}

.skills .skill-content .skill-details h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    text-transform: uppercase;
}

.skills .skill-content .skill-details h3>span {
    font-size: 14px;
    color: var(--main-color);
    padding: 7px 10px;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--color-white);
    border: 1px solid rgba(119, 119, 119, 0.35);
    text-transform: capitalize;
}

.skills .skill-content .skill-details .progress-holder {
    background-color: var(--section-background);
    height: 30px;
    position: relative;
}

.skills .skill-content .skill-details:first-child .progress-holder>.progress,
.skills .skill-content .skill-details:nth-child(2) .progress-holder>.progress,
.skills .skill-content .skill-details:nth-child(3) .progress-holder>.progress,
.skills .skill-content .skill-details:last-child .progress-holder>.progress {
    position: absolute;
    height: 30px;
    left: 0;
    top: 0;
    background-color: var(--main-color);
}

.skills .skill-content .skill-details:first-child .progress-holder>.progress {
    width: 80%;
}

.skills .skill-content .skill-details:nth-child(2) .progress-holder>.progress {
    width: 85%;
}

.skills .skill-content .skill-details:nth-child(3) .progress-holder>.progress {
    width: 60%;
}

.skills .skill-content .skill-details:last-child .progress-holder>.progress {
    width: 50%;
}


/* 
****************************************************
==========                          ==========
                how it works section
==========                          ==========
****************************************************
*/

.how_it_works {
    background-color: var(--section-background);
}

.how_it_works .flex {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.how_it_works .flex>div {
    flex: 0 0 90%;
}

@media (min-width: 992px) {
    .how_it_works .flex {
        flex-direction: row;
    }

    .how_it_works .flex>div {
        flex: 0 0 45%;
    }
}

.how_it_works .image-holder img {
    max-width: 100%;
    width: 100%;
}

.how_it_works .how-holder {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.how_it_works .how-holder .how-details {
    background-color: #f6f5f5;
    padding: 20px;
    border-radius: 6px;
    border: 2px solid var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .how_it_works .how-holder .how-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-align: left;
    }
}

.how_it_works .how-holder .how-details::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bcbcbc42;
    z-index: -1;
    width: 0;
    height: 0;
    border-radius: 6px;
    opacity: 0;
}

.how_it_works .how-holder .how-details:hover::before {
    animation: how-it-works 0.3s linear forwards;
}

@keyframes how-it-works {
    50% {
        width: 0;
        height: 0;
        opacity: 0;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

.how_it_works .how-holder .how-details i {
    color: var(--main-color);
    font-size: 44px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 0 0 80px;
}

.how_it_works .how-holder .how-details .how-text {
    flex: 0 0 calc(100% - 80px);
}

.how_it_works .how-holder .how-details .how-text h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.how_it_works .how-holder .how-details .how-text p {
    font-size: 16px;
    color: var(--secondary-text-color);
    line-height: 2;
}

/* 
****************************************************
==========                          ==========
                subscribe section
==========                          ==========
****************************************************
*/

.events {
    position: relative;
}

.events::before, .events::after {
    position: absolute;
    content: "";
    top: 10%;
    width: 150px;
    right: 10px;
    background-image: url(/assets/images/dots.png);
    height: 150px;
    opacity: 0.2;
    z-index: -1;
}

.events::after {
    top: initial;
    right: initial;
    bottom: 15%;
    left: 0;
}

.events .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events .flex>div {
    flex: 0 0 100%;
}

.events .image {
    display: none;
}

@media (min-width: 992px) {
    .events .flex>div {
        flex: 0 0 45%;
    }

    .events .image {
        display: block;
    }
}

.events .image img {
    max-width: 100%;
    width: 100%;
}

.event-countdown-holder {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

@media (min-width: 475px) {
    .event-countdown-holder {
        gap: 15px;
    }
}

.event-countdown-holder .count-down {
    display: flex;
    flex-direction: column;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    font-weight: 800;
    transition: var(--custom-transition);
    flex: 0 0 65px;
}

@media (min-width: 475px) {
    .event-countdown-holder .count-down {
        flex: 0 0 90px;
    }
}

.event-countdown-holder .count-down:hover {
    border-color: var(--main-color);
}

.event-countdown-holder .count-down span {
    display: inline-block;
}

.event-countdown-holder .count-down span.days {
    font-size: 22px;
    padding: 8px;
    text-align: center;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

@media (min-width: 475px) {
    .event-countdown-holder .count-down span.days {
        font-size: 24px;
        padding: 10px;
    }
}

.event-countdown-holder .count-down span.text {
    border-top: 1px solid #d5d5d5;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 12px;
    padding: 10px 15px;
    text-align: center;
    transition: var(--custom-transition);
}

.event-countdown-holder .count-down:hover span.text {
    border-color: var(--main-color);
}

.event-details h3 {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-top: 40px;
}

@media (min-width: 475px) {
    .event-details h3 {
        font-size: 36px;
    }
}

.event-details p {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin: 20px;
    line-height: 2;
    color: var(--secondary-text-color);
}

.subscribe-button {
    margin-top: 50px;
}

.subscribe-button .input-group {
    padding: 20px;
    background-color: rgba(188, 188, 188, 0.16);
    margin: 0 auto 0;
    max-width: 600px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

@media (min-width: 768px) {
    .subscribe-button .input-group {
        width: 600px;
        border-radius: 50px;
        padding: 30px 40px;
        align-items: center;
        flex-direction: row;
    }
}

.subscribe-button .input-group input {
    padding: 20px;
    border: none;
}

@media (min-width: 768px) {
    .subscribe-button .input-group input {
        border-radius: 50px;
        flex: 1;
    }
}

.subscribe-button .input-group input::placeholder {
    text-transform: capitalize;
    transition: var(--custom-transition);
}

.subscribe-button .input-group input:focus::placeholder {
    opacity: 0;
}

.subscribe-button .input-group input:focus {
    outline-color: var(--main-color);
}

.subscribe-button .input-group input {
    caret-color: var(--main-color);
}

.subscribe-button .input-group button {
    padding: 20px;
    border: none;
    color: var(--color-white);
    font-weight: bold;
    background-color: var(--main-color);
}

@media (min-width: 768px) {
    .subscribe-button .input-group button {
        border-radius: 50px;
    }
}

/* 
****************************************************
==========                          ==========
                pricing section
==========                          ==========
****************************************************
*/

.pricing {
    background-color: var(--section-background);
    position: relative;
}

.pricing::before, .pricing::after {
    position: absolute;
    content: "";
    top: 10%;
    width: 150px;
    right: 10px;
    background-image: url(/assets/images/dots.png);
    height: 150px;
    opacity: 0.2;
}

.pricing::after {
    top: initial;
    right: initial;
    bottom: 15%;
    left: 0;
}

.pricing .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
}

@media (min-width: 992px) {
    .pricing .grid {
        grid-template-columns: repeat(3, minmax(280px, 1fr));
    }

}

.pricing .plan {
    background-color: var(--color-white);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

@media (min-width: 992px) {
    .plan:nth-child(2) {
        top: -10px;
    }
}

.pricing .plan:hover::before {
    right: 0;
}

.pricing .plan::before {
    content: "";
    background-color: #f6f5f5;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    right: -100%;
    z-index: -1;
    transition: var(--custom-transition);
}

.pricing .plan::after {
    content: "";
    background-color: #f6f5f5;
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: -100%;
    z-index: -1;
    transition: var(--custom-transition);
}

.pricing .plan:hover::after {
    left: 0;
}

.pricing .plan .most-popular {
    font-weight: bold;
    display: inline-block;
    color: var(--color-white);
    padding: 10px 30px;
    text-transform: capitalize;
    background-color: var(--main-color);
    position: absolute;
    right: -9%;
    top: 5%;
    z-index: 1;
    transform: rotate(90deg);
    border-right: 1px solid white;
}

.pricing .plan .most-popular::before {
    position: absolute;
    content: "";
    border: 20px solid;
    right: -2px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    border-color: transparent transparent transparent white;
    z-index: -1;
}


.pricing .plan .plan-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-top: 30px;
}

.pricing .plan i {
    color: var(--main-color);
    margin: 30px 0;
    text-align: center;
    display: block;
}

.pricing .plan .price-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.pricing .plan .price-holder>span {
    display: inline-block;
}

.pricing .plan .price-holder .price {
    font-size: 50px;
    color: var(--main-color);
    font-weight: 800;
}

.pricing .plan .price-holder .per-month {
    font-size: 14px;
    color: var(--secondary-text-color);
    padding: 10px;
}

.pricing .plan .price-list-holder {
    margin-top: 20px;
    text-align: left;
}

.pricing .plan .price-list-holder ul li {
    padding: 20px;
    font-size: 16px;
    position: relative;
}

.pricing .plan .price-list-holder ul li::before {
    content: "\f00c";
    font: var(--fa-font-solid);
    font-weight: 900;
    font-size: 18px;
    left: 20px;
    margin-right: 10px;
    color: var(--main-color);
}

.pricing .plan .price-button {
    margin: 30px auto;
    padding: 20px 30px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: var(--custom-transition);
}

.pricing .plan .price-button:hover {
    color: var(--color-white);
    background-color: var(--main-color);
}


/* 
****************************************************
==========                          ==========
                videos section
==========                          ==========
****************************************************
*/



/* 
****************************************************
==========                          ==========
                status section
==========                          ==========
****************************************************
*/

.status {
    background-image: linear-gradient(rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url("/assets/images/stats.jpg");
    background-size: cover;
}

.status .grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

@media (min-width: 575px) {
    .status .grid {
        grid-template-columns: repeat(2, minmax(230px, 1fr));
    }
}

@media (min-width: 1200px) {
    .status .grid {
        grid-template-columns: repeat(4, minmax(230px, 1fr));
    }
}

.status .grid .status-item {
    background-color: var(--color-white);
    padding: 40px 20px;
    text-align: center;
    position: relative;
    opacity: 0.8;
}

.status .grid .status-item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 3px;
    background-color: var(--main-color);
    transition: var(--custom-transition);
}

.status .grid .status-item::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
    width: 3px;
    background-color: var(--main-color);
    transition: var(--custom-transition);
}

.status .grid .status-item:hover::before,
.status .grid .status-item:hover::after {
    height: 100%;
}

.status .grid .status-item h3 {
    margin: 15px 0;
    font-size: 44px;
}

.status .grid .status-item p {
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: 800;
    font-size: 20px;
}


/* 
****************************************************
==========                          ==========
                discount section
==========                          ==========
****************************************************
*/

.discount .row {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .discount .row {
        height: 100vh;
    }
}

.discount .row .col-6 {
    flex-basis: 100%;
}

@media (min-width: 992px) {
    .discount .row .col-6 {
        flex-basis: 50%;
    }
}

.discount .image {
    position: relative;
}

.discount .form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

@media (min-width: 992px) {
    .discount .form {
        padding: 0;
    }
}


.discount .image::before {
    position: absolute;
    content: "";
    background-color: var(--main-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.discount .image img {
    width: 300px;
    max-width: 100%;
}

.discount .image .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
    height: 100%;
    padding: 0 20px;
    text-align: center;
}

.discount .image .content h2,
.discount .form .content h2 {
    margin: 20px 0;
    font-size: 30px;
    letter-spacing: -2px;
    text-transform: capitalize;
}

@media (min-width : 475px) {

    .discount .image .content h2,
    .discount .form .content h2 {
        font-size: 36px;
    }
}

.discount .image .content p {
    margin: 40px 0;
    line-height: 1.6;
    font-size: 18px;
}

.discount .form .content {
    padding: 0 20px;
    text-align: center;
}

.discount .form .content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discount .form .content form .input {
    padding: 15px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #777;
    caret-color: var(--main-color);
}

.discount .form .content form .input:focus {
    outline: none;
}

.discount .form .content form .input::placeholder {
    transition: var(--custom-transition);
    text-transform: capitalize;
}

.discount .form .content form .input:focus::placeholder {
    opacity: 0;
}

.discount .form .content form textarea {
    height: 200px;
}

.discount .submit-button {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-weight: 800;
    background: var(--main-color);
    color: var(--color-white);
    border: none;
}


/* 
****************************************************
==========                          ==========
                footer section
==========                          ==========
****************************************************
*/

.footer {
    background-color: var(--footer-background);
    padding-top: var(--padding-top);
}

.footer .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.footer .box {
    color: #b9b9b9;
}

.footer .box:nth-child(1) p {
    color: #b9b9b9;
    line-height: 2;
}

.footer .box h2 {
    color: var(--color-white);
    font-size: 36px;
    margin-bottom: 20px;
}

.footer .box .social {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 15px 0;
}

.footer .box .social a {
    color: var(--color-white);
    background-color: #313131;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    transition: var(--custom-transition);
}

.footer .box .social a:hover {
    background-color: var(--main-color);
    color: var(--color-white);
}

.footer .box.important_links ul li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box.important_links ul li a {
    padding: 15px 0 15px 30px;
    display: inline-flex;
    color: #b9b9b9;
    position: relative;
    text-transform: capitalize;
    align-items: center;
    width: 100%;
    text-decoration: none;
    transition: var(--custom-transition);
}

.footer .box.important_links ul li:hover a {
    transform: translateX(10px);
}

.footer .box.important_links ul li a::before {
    position: absolute;
    left: 0;
    content: "\f101";
    font: var(--fa-font-solid);
    color: var(--main-color);
}

.footer .box.important_info .footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer .box.important_info .footer-info>i {
    flex-basis: 30px;
    color: var(--main-color);
}

.footer .box.important_info .footer-info>div {
    flex-basis: 100%;
    padding: 15px;
}

.footer .box.important_info .footer-info:not(:last-child) {
    margin-bottom: 15px;
}

.footer .box.important_info .footer-info .footer-data-holder>span {
    display: block;
}

.footer .footer_gallery .gallery-small {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer .footer_gallery .gallery-small .img-holder {
    width: 80px;
    border: 3px solid var(--color-white);
}

.footer .footer_gallery .gallery-small .img-holder img {
    max-width: 100%;
    width: 100%;
}

.footer .copyright {
    margin-top: 40px;
    text-align: center;
    color: var(--color-white);
    padding: 20px;
    border-top: 1px solid #444;
}